.prop-editor{
    font-size: 12px;
    background:  #252525;
    overflow: auto;
}

.prop-editor .row{
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #252525;
    cursor: pointer;
}

.prop-editor .row:nth-child(even) {
    background:#333;
}

.prop-editor .row:nth-child(odd) {
    background:#404040;
}

.prop-editor .row .cell{
    box-sizing: border-box;
    overflow: hidden;
    height:30px;
    line-height:30px;
    padding: 0 5px;
}

.prop-editor .row .cell.title {
    font-weight: bold;
    width:40%;
    border-right: solid 1px #252525;
    user-select: none;
    color: #969696;
    opacity: 0.5;
}

.prop-editor .row .cell.value {
    width: 60%;
    color: #bfbfbf;    
}

.prop-editor .row:hover .cell{
    background: #0abde3;
    color:#252525;
}