@import "../../assets/css/global.css";

/*
* Base Styles
*/

html, body, .window > .window-frame > .window-view{
    background: #5B5B5B;
}


/*
* Component: Button
*/

.button {
    user-select: none;
    outline: none;
}

.button.component {
    background: #393939;
    border: none;
    border-radius: 4px;
    color: #AAA;
}

.button.component:not(:disabled):hover {
    background: #444;
    color: #DDD;
    cursor: pointer;
}

.button.component:disabled {
    background:#404040;
}


/*
* Component: Panel
*/

.panel.component {
    background: #252525;
}

.panel.component .panel-body {
    position:absolute;
    width:100%;
    height:100%;
}


/*
* Component: Input, TextArea
*/

.input.component,
.textarea.component {
    background: #DDD;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    padding:10px;
    resize: none;
}

.input.component {
    height:30px;
    padding:0 10px;
}

.input.component:focus,
.textarea.component:focus {
    background: #EEE;
}


/*
* Component: ToolPanel
*/

.toolpanel.component{
    padding:10px;
    display: flex;
    flex-direction: row;
    background: #2B2B2B;
}

.toolpanel > .button.component {
    height: 100% !important;
    border: solid 1px #2B2B2B;
    background: #333333;
    color: #FFF;
    cursor: pointer;
    position: initial;
    border-radius: 0;
}

.toolpanel > .button.component > i {
    font-size:18px;
}

.toolpanel > .button.component:not(.selected) {
    outline: none;
}

.toolpanel > .button.component:hover {
    background: #555555;
}

.toolpanel > .button.component:active {
    background: #777;
}

.toolpanel > .button.component:first-child {
    border-radius: 5px 0 0 5px;
}

.toolpanel > .button.component:last-child {
    border-radius: 0 5px 5px 0;
}

.toolpanel > .button.component:first-child:last-child {
    border-radius: 5px;
}

.toolpanel > .button.component:not(:last-child) {
    border-right: none;
}

.toolpanel > .button.component.active {
    background:#3498db;
}


/*
* Component: LayoutPane
*/

.layout-pane{
    position: relative;
    background: #252525;
}

.layout-pane > .pane-body {
    position: relative;
    width: 100%;
    height: 100%;
}


/*
* Component: Layout
*/

.layout {
    background:#555555;
}

.layout > .panes {
    display: flex;
    height: 100%;
    width: 100%;
}

.layout.orientation-row > .panes {
    flex-direction: row;
}

.layout.orientation-column > .panes {
    flex-direction: column;
}


/*
* Component: ProgressBar
*/

.progressbar {
    border-radius: 4px;
    border:solid 2px #2B2B2B;
    background: #2B2B2B;
    overflow: hidden;
}

.progressbar .bar {
    background-color:#3498db;
    border-radius: 4px;
    position: absolute;
    left:0;
    top:0;
    height:100%;
}

.progressbar.indeterminate .bar {
    left:-50%;
    top:0;
    width:200% !important;
    height:100%;
    background-image: repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1) 10px,
        rgba(0, 0, 0, 0.3) 10px,
        rgba(0, 0, 0, 0.3) 20px
    );
    background-position-x: 0px;
    animation: anim-progress-background 2s linear infinite;
}


/*
* Component: Tabs
*/

.tabs {
    display: flex;
    flex-direction: column;
}

.tabs > .tabs-header {
    height:30px;
    display:flex;
    flex-direction: row;
}

.tabs > .tabs-header > button {
    height:30px;
    padding:0 15px;
    border: none;
    outline: none;
    box-shadow: none;
    background: #252525;
    color:#888;
    margin:0;
}

.tabs > .tabs-header > button:not(.active):hover {
    color: #AAA;
    cursor: pointer;
}

.tabs > .tabs-header > button.active {
    background: #333;
    color:#FFF;
}

.tabs > .tabs-panes {
    flex-grow: 1;
}

.tabs > .tabs-panes > .tab-pane {
    display: none;
}

.tabs > .tabs-panes > .tab-pane.active {
    display: block;
}


/*
* Component: TabPane
*/

.tab-pane {
    background: #333;
}

.tab-pane,
.tab-pane > .tab-pane-body {
    position: relative;
    width: 100%;
    height: 100%;
}


/*
* Animations
*/

@keyframes anim-progress-background {
    0% { background-position-x: 0px; }
    100% { background-position-x: 56px; }
}