@import "../../assets/css/global.css";

/*
* Base Styles
*/

html, body, .view-window {
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
    background: #2B2B2B;
    font-family: 'Ubuntu', sans-serif;
}

/*
* Window, Title and Frame
*/

.window {
    overflow: hidden;
}

.window > .window-title {
    height: 30px;
    line-height: 30px;
    width: 100%;
    position: absolute;
    padding-left: 10px;
    background: #323233;
    color: #8E8E8E;
    display:flex;
    flex-direction: row;
    z-index: 1;
    -webkit-app-region: drag;
}

.window > .window-title > .title {
    font-size:14px;
}

.window > .window-title > span {
    display:flex;
}

.window > .window-title > .spacer {
    flex: 1;
}

.window > .window-title > .buttons > button {
    background:none;
    border:none;
    box-shadow: none;
    text-shadow: none;
    color: #8E8E8E;
    cursor: pointer;
    outline: none !important;
    -webkit-app-region: no-drag;
}

.window > .window-title > .buttons > button:hover {
    color: #555555;
}

.window > .window-frame {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    padding-top: 30px;
    top: 0;
}

.window > .window-frame > .window-view {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 100%;
    background: #5B5B5B;
}


/*
* Components Alignment
*/

.align-client,
.align-top,
.align-bottom,
.align-left,
.align-right {
    position: absolute;
}

.align-client {
    width:100% !important;
    height:100% !important;
}

.align-top {
    top:0;
    width:100% !important;
}

.align-bottom {
    bottom:0;
    width:100% !important;
}

.align-left {
    left:0;
    height:100% !important;
}

.align-right {
    right:0;
    height:100% !important;
}


/*
* Component: ToolPanel
*/

.toolpanel{
    padding:10px;
}

.toolpanel > button {
    height:100% !important;
    border: solid 1px #2B2B2B;
    background: #333333;
    color: #FFF;
    cursor: pointer;
    outline: none !important;
}

.toolpanel > button:hover {
    background: #555555;
}

.toolpanel > button:active {
    background: #777;
}

.toolpanel > button:first-child {
    border-radius: 5px 0 0 5px;
}

.toolpanel > button:last-child {
    border-radius: 0 5px 5px 0;
}

.toolpanel > button:not(:last-child) {
    border-right: none;
}

