@import "reset.css";
@import "fonts.css";

/*
* Base Styles
*/

html, body {
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}


/*
* Window, Title and Frame
*/

.window {
    overflow: hidden;
}

.window > .window-frame {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.window > .window-frame > .window-view,
.window > .window-frame > .window-view > .form-body {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 100%;
}


/*
* Components Base
*/

.component {
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
}

.component.container,
.component .container {
    overflow: hidden;
}


/*
* Components Alignment
*/

.align-client,
.align-top,
.align-bottom,
.align-left,
.align-right {
    position: absolute;
}

.align-client {
    width:100% !important;
    height:100% !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

.align-top {
    top:0 !important;
    left:0 !important;
    bottom:auto !important;
    width:100% !important;
}

.align-bottom {
    bottom:0 !important;
    left:0 !important;
    top:auto !important;
    width:100% !important;
}

.align-left {
    top:0 !important;
    left:0 !important;
    right:auto !important;
    height:100% !important;
}

.align-right {
    top:0 !important;
    right:0 !important;
    left:auto !important;
    height:100% !important;
}
