.prop-editor{
    font-size: 12px;
    background:  #333333;
    overflow: auto;
}

.prop-editor .row{
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #252525;
}

.prop-editor .row:nth-child(even) {
    background:#333;
}

.prop-editor .row:nth-child(odd) {
    background:#404040;
}

.prop-editor .row .cell{
    box-sizing: border-box;
    overflow: hidden;
    height:30px;
    line-height:30px;
    padding: 0 5px;
    opacity: 0.75;
    transition: all 0.2s;
}

.prop-editor .row .cell.title {
    font-weight: bold;
    width:40%;
    border-right: solid 1px #252525;
    user-select: none;
    color: #969696;
    opacity: 0.5;
}

.prop-editor .row-parent .cell.title {
    color: #2bcbba;
}

.prop-editor .row-name .cell.title,
.prop-editor .row-name .cell.value,
.prop-editor .row-name .cell.value > input {
    color: #26de81;
}

.prop-editor .row .cell.value {
    width: 60%;
    color: #bfbfbf;
}

.prop-editor .row .cell.value a {
    color: #45aaf2;
    text-decoration: none;
}

.prop-editor .row .cell.value select option {
    color: initial;
}

.prop-editor .row:hover .cell{
    opacity: 1;
}

.prop-editor .prop-input-group {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.prop-editor .prop-input-group > input {
    height: 100%;
}

.prop-editor .prop-input-color {
    padding: 0;
    background: none;
    border: none;
    outline: none !important;
    cursor: pointer;
}

.prop-editor .prop-input {
    width:100%;
    height:100%;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    color: inherit;
}
