const Form = load.class('form');

class {% className %} extends Form {

    getSchema() {
        return {% formProperties %};
    }

    buildComponents() {
        this.buildComponentsFromSchemaList({% formChildren %})
    }

}

module.exports = {% className %};
